/* ## 1 Home Page Section */

/* General Body Styling */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* NavBar Styling */
.navbackg {
    background-color: #a4b8c4;
    width: 100vw;
    padding: 1vh 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbackg ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 2vh;
}

.navbackg ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.navbackg ul li a:hover {
    color: white;
}

.navbackg ul li a:hover::after {
    content: '🍣';
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background: black;
    height: 3px;
    width: 25px;
    margin: 4px;
    display: block;
}

@media (max-width: 768px) {
    .navbackg ul {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active + .nav-links {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        position: absolute;
        top: 4vh;
        left: 0;
        width: 100vw;
        background-color: #a4b8c4;
    }
}

/* Main Content Section */
#welcotext {
    text-align: center;
    max-width: 50vw;
    margin: 7vh auto 0;
}

#welcotext h1 {
    font-size: 26px;
}

#welcotext p {
    font-size: 20px;
    font-style: italic;
    font-weight: 350;
}

.mainimages {
    display: flex;
    justify-content: center;
    gap: 2vh;
    flex-wrap: wrap;
    margin-bottom: 7vh;
}

/* Footer Styling */
.footerp {
    background-color: #a4b8c4;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.footerp p {
    font-size: 16px;
}

/* Mobile Specific Adjustments */
@media (max-width: 980px) {
    #welcotext {
        max-width: 80vw;
        margin-bottom: 10vh;
    }

    .footerp {
        flex-direction: column;
        text-align: center;
    }
}

/* Dark Mode Toggle Button */
.dark-mode-toggle {
    position: fixed;
    top: .5vh;
    right: 2vh;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 2vh;
    z-index: 200;
}

.dark-mode-toggle:focus {
    outline: none;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #121212;
    color: #f5f5f5;
}

.dark-mode .navbackg {
    background-color: #333;
}

.dark-mode .navbackg ul li a {
    color: #f5f5f5;
}

.dark-mode .navbackg ul li a:hover {
    color: #bbe0ff;
}

.dark-mode .footerp {
    background-color: #333;
}


/* ## 2 About Page Section */
#about-section {
    text-align: center;
    margin: 10vh auto;
}

#about-section h1 {
    font-size: 28px;
    margin-bottom: 5vh;
}

.background-container {
    position: relative; /* Ensure pseudo-element is positioned relative to this container */
    background-image: url('/images/sushi-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2vh 0;
    color: white;
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 0;
}


.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 1vh;
    row-gap: 2vh;
    justify-content: center;
    max-width: 50vw;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.team-member {
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
}

.team-member img {
    max-width: 100%;
    height: auto;
}

.team-member p {
    margin-top: 1vh;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgb(132, 255, 179);
}
